body {
  color: rgb(86, 86, 86);
  text-align: center;
  justify-content: space-around;
}



img {
  border: 1px solid black;
}

.one {
  position: relative;
  text-align: center;
  color: black;
  justify-content: space-around;
  font-size: 25px;
  display: flex;
}

.text {
  position: absolute;
  top: 40%;
  color: white;
  left: 14%;
}
#New {
  color: white;
  left: 300%;
  position: absolute;
  bottom: 1px;
}

#Lon {
  position: absolute;
  left: 66vw;
  bottom: 1px
}



#two {
  position: relative;
  display: flex;
  padding: 50px;
  justify-content: space-evenly;
}

button {
  margin-top: 10px;
  font-weight: bold;
  font-size: large;
  color: rgb(87, 87, 87);
}